@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  text-size-adjust: 100%;
  min-height: 100%;
}

body {
  @include font-smoothing(on);

  margin: 0;
  background-color: hsl(200, 80%, 10%);
  color: #fff;
  font-family: 'Roboto', 'Arbutus Slab', serif;
  height: 100%;
}

.stephan {
  border-radius: 50%;
  width: 200px;
  flex-flow: wrap;
  margin: -5px 0 0 10px;
}

img {
  background-repeat: no-repeat;
  flex-flow: wrap;
}

header blockquote {
  background-color: hsla(0, 100%, 100%, 0.75);
  color: #333;
  margin: 10px 0 0 10%;
  padding: 10px;
  flex-flow: wrap;
}

header.page {
  display: flex;
  flex-direction: row;
}

section.intro {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 100px 50px;
  background-repeat: no-repeat;
  background-image: image('https://static.pexels.com/photos/239898/pexels-photo-239898.jpeg');
}

button {
  align-self: center;
  width: 200px;
  height: 30px;
  background-color: hsl(187, 52%, 49%);
}

article {
  background-color: #fff;
  margin: 10px;
  color: #333;
  padding: 10px;
  position: relative;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 100%;
  border-radius: 4px 4px 0 0;

  img {
    width: 100%;
    height: 130px;
  }
}

ul.portfolio {
  display: flex;
  padding-left: 0;
  list-style: none;
  background-color: hsla(0, 0%, 0%, 0.5);
}

ul.portfolio li {
  flex: 1;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 10px;
}

.more {
  background-color: hsl(200, 80%, 75%);
  display: flex;
  flex-direction: row;
  padding: 10px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  bottom: -10px;
  border: 1px solid hsl(210, 60%, 50%);
  border-radius: 4px;
}

.more:visited {
  color: purple;
  text-decoration: none;
}

.more:link {
  color: white;
  text-decoration: none;
}


.input {
  border: 1px solid #000;
}

.code {
  opacity: 80%;
  width: 100%;
  height: 300px;
  flex: -1;
}
